.icon-size {
  font-size: 24px;
}

.textarea-css {
  border: 1px solid gray;
  border-radius: 6px;
}

.margin-top-6 {
  margin-top: 6px;
}

.start {
  font-size: 40px;
}

.no-margin-top {
  margin-top: 0px;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.dim-label {
  opacity: 0.7;
}

.form-class {
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}