<ion-header no-border>
  <ion-toolbar mode="ios" no-border>
    <ion-buttons slot="start">
      <ion-button fill="clear" color="dark" (click)="closeModal ()">
        <ion-icon slot="icon-only" name="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>Servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--div margin text-center class="text-white">
    <h4 text-wrap>
      Seleccione un servicio
    </h4>

    <p text-wrap>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco
    </p>
  </div>
  <form [formGroup]="form">
  <ion-card class="border-6 card-white">
    <ion-card-header class="padding-bottom-0">
      <ion-card-subtitle>Seleccione un servicio</ion-card-subtitle>
    </ion-card-header>

    <ion-list>
      <ion-radio-group formControlName="service">
        <ion-item *ngFor="let item of services" text-wrap>
          <ion-label>{{ item.dataGeneral.name }}</ion-label>
          <ion-radio slot="start" [value]="item.dataGeneral" checked></ion-radio>
        </ion-item>
      </ion-radio-group>
      
      <!--div *ngIf="form.controls.service_id.errors?.required">
        <small class="text-danger margin-left-1">* tiene que seleccionar un servicio</small>
      </div>
    </ion-list>
  </ion-card>

  <ion-card class="border-6 card-white">
    <ion-card-header class="padding-bottom-0">
      <ion-card-subtitle>Configurar servicio</ion-card-subtitle>
    </ion-card-header>

    <ion-list>
        <ion-item>
          <ion-label position="stacked">Precio minimo (S/.)</ion-label>
          <ion-input type="text" formControlName="min_price" placeholder="S/. 20.00" clearInput=true></ion-input>
        </ion-item>

        <div *ngIf="form.controls.min_price.errors?.required && form.controls.min_price.dirty">
          <small class="text-danger margin-left-1">* Este campo es necesario</small>
        </div>

        <ion-item>
          <ion-label position="stacked">Precio maximo (S/.)</ion-label>
          <ion-input type="text" formControlName="max_price" placeholder="S/. 80.00" clearInput=true></ion-input>
        </ion-item>

        <div *ngIf="form.controls.max_price.errors?.required && form.controls.max_price.dirty">
          <small class="text-danger margin-left-1">* Este campo es necesario</small>
        </div>

        <ion-item>
          <ion-label position="stacked">Tipo de trabajo</ion-label>
          <ion-select placeholder="Seleccione uno"interface="popover" formControlName="type_job" (ngModelChange)="typeJobChange ($event)">
            <ion-select-option value="job">Trabajo</ion-select-option>
            <ion-select-option value="hour">Hora</ion-select-option>
            <ion-select-option value="day">Jornada</ion-select-option>
            <ion-select-option value="m2">metros cuadrados</ion-select-option>
          </ion-select>
        </ion-item>

        <div *ngIf="form.controls.type_job.errors?.required && form.controls.type_job.dirty">
          <small class="text-danger margin-left-1">* Este campo es necesario</small>
        </div>

        <ion-item>
          <ion-label position="stacked">Descripcion</ion-label>
          <ion-textarea rows="4" placeholder="Hago todo tipo de ..." formControlName="description"></ion-textarea>
        </ion-item>

        <div *ngIf="form.controls.description.errors?.required && form.controls.description.dirty">
          <small class="text-danger margin-left-1">* Este campo es necesario</small>
        </div>
    </ion-list>
  </ion-card>
  </form>
  <div text-center margin>
    <ion-button color="light" fill="outline" shape="round" [disabled]="!form.valid" (click)="onSubmit ()">
      Siguiente
    </ion-button>
  </div-->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item text-center lines="none">
          <ion-label>
            <h2 text-wrap>CONFIGURANDO MIS SERVICIOS</h2>
            <p text-wrap>Marca los servicios que brindas relacionados a</p>
          </ion-label>
        </ion-item>

        <div text-center>
          <ion-button size="small" shape="round" color="light">
            {{ id.name }}
            <ion-icon slot="end" name="close"></ion-icon>
          </ion-button>
        </div>

        <ion-list>
          <ion-item lines="none" *ngFor="let item of services">
            <ion-checkbox color="dark" slot="start"></ion-checkbox>
            <ion-label>{{ item.dataGeneral.name }}</ion-label>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-radio-group>
            <ion-item lines="none" *ngFor="let item of services">
              <ion-label>{{ item.dataGeneral.name }}</ion-label>
              <ion-radio slot="start" [value]="item" checked></ion-radio>
            </ion-item>   
          </ion-radio-group> 
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
