.textarea-box {
    margin-top: 12px;
}

.textarea-box {
    border: 1px solid #D1D1D1;
    border-radius: 6px;
    padding-left: 12px; 
}

.font-size-1rem {
    font-size: 1rem;
}

.no-padding-left {
    padding-left: 0px;
}
.nota-head {
    font-size: 12px;
    font-weight: bold;
}

.nota-body {
    font-size: 12px;
    line-height: 14px;
}