.logo-size {
  width: 30%;
}

.hexpand {
  height: 100%;
}

.position-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 1rem;
}

.position-bottom-card {
  width: 50%;
  margin: 0 auto;
}

ion-slide {
  display: block !important;
}

.width-80 {
  width: 80%;
}

.width-70 {
  width: 12rem;
}

.div-selected {
  background-color: #f48100;
}

.image-bottom {
  position: fixed;
  left: 0;
  bottom: 2.9rem;
  right: 0;
}

.text-gray {
  color: #00000073;
}

.panel-pro-card {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 0rem;
}

.text-green {
  color: #00A79C;
  --border-color: #00A79C;
}

.font-size-14 {
  font-size: 14px;
}

.margin-right-1rem {
  margin-right: 1rem;
}

.transition {
  transition: all 240ms ease-in-out;
}

.padding-12px {
  padding: 12px;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.width-128px {
  width: 128px;
}