.select-item {
    padding-left: 0px;
    max-width: 100%;
    width: 100%;
}

.card {
    margin: 6px;
}

.add-galery-image {
    width: 6rem;
    margin: 0 auto;
}

.service-image {
    width: 128px;
    margin: 0 auto;
    border-radius: 6px;
}