.wordmark-size {
    width: 96px;
    margin-top: 6px;
}

.inbox-card {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 0px;
}

.history-card {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.middle-card-left {
    padding: 1rem 1rem 1rem 0px;
    margin: 0px 0px 0px 1rem;
}

.middle-card-right {
    margin: 0px 1rem 0px 0px;
    padding: 1rem 1rem 1rem 0px;
}

.font-bold {
    font-weight: bold;
}

.text-blue {
    color: #6300FF;
}

.position-absolute {
    position: absolute;
    width: 100%;
}

.profile-card {
    margin: 0px 1rem 0px 0px;
    padding: 1rem 1rem 1rem 0px;
}

.avatar-card {
    margin-left: 1rem;
    margin-top: 0.5rem;
}